@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --personal-font: "Jersey 10", serif;
    --black: black;
    --success: #59B259;
    --danger: #B52023;
    --progress: #E9A84C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease all;
    font-family: "Varela Round", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a,
button {
    all: unset;
}

button {
    cursor: pointer;
    user-select: none;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
}

aside {
    width: 5%;
    height: 100%;
    padding: 10px;
    background-color: var(--black);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

aside h1 {
    font-size: 15px;
    background-color: white;
    border-radius: 50px;
    color: var(--black);
    padding: 10px;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside nav ul li {
    cursor: pointer;
}

aside .icon {
    width: 45px;
    padding: 10px;
    background-color: white;
    stroke: var(--black);
    border-radius: 25px;
    border: 2px solid var(--black);
}

aside .icon:hover {
    border: 2px solid white;
    background-color: transparent;
    stroke: white;
}

aside>button {
    position: relative;
}

aside .menu {
    position: absolute;
    right: -180px;
    bottom: 0;
    background-color: var(--black);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    user-select: none;
    border: 2px solid white;
}

aside .menu .icon {
    width: 35px;
    padding: 7px;
}

aside .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

aside .menu ul li button {
    all: unset;
}

.breadcrumbs {
    width: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    background-color: var(--success);
    user-select: none;
}

.icon {
    width: 25px;
}

.danger {
    background-color: var(--danger);
    color: white;
}

.primary {
    background-color: var(--black);
    color: white;
}

.progress {
    background-color: var(--progress);
    color: white;
}

.success {
    background-color: var(--success);
    color: white;
}

[x-cloak] {
    display: none !important;
}